{% extends 'base.html' %}

{% block main %}
<section>
    <div class="container text-center" style="padding-top: 20px">
        <div class="text-white text-center">
            <div><img src="static/img/AboutUs.jpg" class="img-fluid text-center" alt="image" style="width: 100%; padding-bottom: 10px;"></div>
            <div>
                <p class="h1 text-dark mb-4">ABOUT US</p>
            </div>
        </div>
        <div class="text-center">
            <div>
                <p class="h4 text-dark mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam felis erat, auctor ac dui eget, suscipit pharetra lorem. Aenean felis justo, suscipit vel dui eget, posuere bibendum ligula. Quisque tincidunt porta diam, vel aliquam orci. Ut vehicula, risus at bibendum sollicitudin, urna turpis faucibus sapien, nec porttitor ante lorem et elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam felis erat, auctor ac dui eget, suscipit pharetra lorem. Aenean felis justo, suscipit vel dui eget, posuere bibendum ligula. Quisque tincidunt porta diam, vel aliquam orci. Ut vehicula, risus at bibendum sollicitudin, urna turpis faucibus sapien, nec porttitor ante lorem et elit.</p>

                <p class="h4 text-dark mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam felis erat, auctor ac dui eget, suscipit pharetra lorem. Aenean felis justo, suscipit vel dui eget, posuere bibendum ligula. Quisque tincidunt porta diam, vel aliquam orci. Ut vehicula, risus at bibendum sollicitudin, urna turpis faucibus sapien, nec porttitor ante lorem et elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam felis erat, auctor ac dui eget, suscipit pharetra lorem. Aenean felis justo, suscipit vel dui eget, posuere bibendum ligula. Quisque tincidunt porta diam, vel aliquam orci. Ut vehicula, risus at bibendum sollicitudin, urna turpis faucibus sapien, nec porttitor ante lorem et elit.</p>
            </div>
        </div>               
    </div>
</section>

<!--Partners-->
<section class="container">
    <div class="text-center" style="padding-top: 20px">
        <h2 class="h1 text-dark mb-4">Our partners</h2>
    </div>
    <div class="container" style="padding-top: 20px">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card">
                  <img src="static/img/bootstraplogo.png" class="card-img-top mx-auto d-block" style="width:200px" alt="bstrap4">                        
                </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="static/img/minervalogo.png" class="card-img-top mx-auto d-block" style="width:200px" alt="minerva">                        
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="static/img/a2logo.png" class="card-img-top mx-auto d-block" style="width:200px" alt="a2">                   
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <img src="static/img/nestlelogo.png" class="card-img-top mx-auto d-block" style="width:200px" alt="nestle">                    
              </div>
            </div>           
        </div>
    </div>
</section>
{% endblock %}
